@{
    Layout = null;
    var seriesTitle = "The Amazing Spider-Man";
    var issueNumber = 700;
    var description = "<p>Final issue!</p>";
    var artists = new string[]
    {
        "Script: Dan Slott",
        "Pencil: Humberto Ramos",
        "Inks: Victor Olazaba"
    };

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@seriesTitle</h1>
        <h2>Issue #@issueNumber</h2>

        <h5>Description:</h5>
        <div>@Html.Raw(description)</div>

        <h5>Artists:</h5>
        <div>@Html.Raw(artists)</div>
    </div>
</body>
</html>
